<ion-view view-title="myFriends">
    <ion-content>
        <button class="button button-block button-calm" onclick="history.back()">
        Invite Friends
        </button>
        <ion-list>
            <ion-checkbox ng-model="filter.red">
                <a class="item item-avatar" href="#">
                    <img src="http://ionicframework.com/img/docs/venkman.jpg">
                    <h2>Venkman</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </a>
            </ion-checkbox>
            <ion-checkbox ng-model="filter.yellow">
                <a class="item item-avatar" href="#">
                    <img src="http://ionicframework.com/img/docs/spengler.jpg">
                    <h2>Egon</h2>
                    <p>We're gonna go full stream.</p>
                </a>
            </ion-checkbox>
            <ion-checkbox ng-model="filter.pink">
                <a class="item item-avatar" href="#">
                    <img src="http://ionicframework.com/img/docs/stantz.jpg">
                    <h2>Ray</h2>
                    <p>Ugly little spud, isn't he?</p>
                </a>
            </ion-checkbox>
            <ion-checkbox ng-model="filter.pink1">
                <a class="item item-avatar" href="#">
                    <img src="http://ionicframework.com/img/docs/winston.jpg">
                    <h2>Winston</h2>
                    <p>That's a big Twinkie.</p>
                </a>
            </ion-checkbox>
            <ion-checkbox ng-model="filter.pink3">
                <a class="item item-avatar" href="#">
                    <img src="http://ionicframework.com/img/docs/tully.jpg">
                    <h2>Tully</h2>
                    <p>Okay, who brought the dog?</p>
                </a>
            </ion-checkbox>
            <ion-checkbox ng-model="filter.pink4">
                <a class="item item-avatar" href="#">
                    <img src="http://ionicframework.com/img/docs/barrett.jpg">
                    <h2>Dana</h2>
                    <p>I am The Gatekeeper!</p>
                </a>
            </ion-checkbox>
            <ion-checkbox ng-model="filter.pink5">
                <a class="item item-avatar" href="#">
                    <img src="http://ionicframework.com/img/docs/slimer.jpg">
                    <h2>Slimer</h2>
                    <p>Boo!</p>
                </a>
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>