<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Signup</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-stacked-label"">
          <span class="input-label">Username</span>
          <input type="text" placeholder="John" ng-model="loginData.username">
        </label>
        <label class="item item-input item-stacked-label"">
          <span class="input-label">Password</span>
          <input type="password" placeholder="•••••••" ng-model="loginData.password">
        </label>
        <label class="item item-input item-stacked-label">
    <span class="input-label">Full Name</span>
    <input type="text" placeholder="John">
  </label>
        <label class="item item-input item-stacked-label">
    <span class="input-label">Account number</span>
    <input type="text" placeholder="12345678">
  </label>
        <label class="item item-input item-stacked-label">
    <span class="input-label">Sort Code</span>
    <input type="text" placeholder="00-00-00">
  </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="doLogin()" type="submit">Create Account</button>
        </label>
      </div>


    </form>
  </ion-content>
</ion-modal-view>