<ion-view view-title="myFriends">
  <ion-content>
    <div class="list">
      <a class="item item-avatar" >
        <img src="http://ionicframework.com/img/docs/venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>

      <a class="item item-avatar" >
        <img src="http://ionicframework.com/img/docs/spengler.jpg">
        <h2>Egon</h2>
        <p>We're gonna go full stream.</p>
      </a>

      <a class="item item-avatar" >
        <img src="http://ionicframework.com/img/docs/stantz.jpg">
        <h2>Ray</h2>
        <p>Ugly little spud, isn't he?</p>
      </a>

      <a class="item item-avatar">
        <img src="http://ionicframework.com/img/docs/winston.jpg">
        <h2>Winston</h2>
        <p>That's a big Twinkie.</p>
      </a>

      <a class="item item-avatar">
        <img src="http://ionicframework.com/img/docs/tully.jpg">
        <h2>Tully</h2>
        <p>Okay, who brought the dog?</p>
      </a>

      <a class="item item-avatar">
        <img src="http://ionicframework.com/img/docs/barrett.jpg">
        <h2>Dana</h2>
        <p>I am The Gatekeeper!</p>
      </a>

      <a class="item item-avatar">
        <img src="http://ionicframework.com/img/docs/slimer.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>
    </div>
    <div class="bar bar-footer bar-balanced" ui-sref="app.addteam">
      <div class="title">Create a group</div>
    </div>
  </ion-content>
</ion-view>