<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">What am I investing for ?</h1>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <ion-list>
                <ion-radio ng-model="goal.type" ng-value="'Car'">Car</ion-radio>
                <ion-radio ng-model="goal.type" ng-value="'Holiday'">Holiday</ion-radio>
                <ion-radio ng-model="goal.type" ng-value="'Shopping Spree'">Shopping Spree</ion-radio>
                <ion-radio ng-model="goal.type" ng-value="'Treat Yourself'">Treat Yourself</ion-radio>
                <ion-radio ng-model="goal.type" ng-value="'Other'">Other</ion-radio>
            </ion-list>
        </div>
        <div class="card">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Give this goal a name</span>
                    <input type="text" ng-model="goal.name">
                 </label>
                <label class="item item-input item-stacked-label">
                     <span class="input-label">Select a target amount</span>
                     <input type="number" ng-model="goal.target" step="0.01" placeholder="£" min="1" step="any">
                </label>
            </div>
        </div>
        <button class="button button-full button-balanced" ng-click="goalNext()">
            <div class="title">Next</div>

        </button>

    </ion-content>
</ion-modal-view>