<style>
  .legend span::after {
    content: ' %'
  }
</style>

<ion-view view-title="mySpending">
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs ">
      <a class="tab-item" ng-click="summary = false" ng-class="{'active': !summary}">
      Overview
      </a>
      <a class="tab-item" ng-click="summary = true" ng-class="{'active': summary}">
    myBot
    </a>

    </div>
  </div>
  <ion-content style="margin-top: 85px;">
    <div ng-show="!summary">
      <div id="pie-chart" class="pieID pie">

      </div>

      <ul class="pieID legend">
        <li>
          <em>Groceries</em>
          <span>20</span>
        </li>
        <li>
          <em>Restaurants</em>
          <span>30</span>
        </li>
        <li>
          <em>Clothing</em>
          <span>5</span>
        </li>
        <li>
          <em>Automotive</em>
          <span>10</span>
        </li>
        <li>
          <em>Housing</em>
          <span>45</span>
        </li>
      </ul>

      <!--<div id="bullets"></div>-->
      <div id="chart"></div>
    </div>
    <div ng-show="summary">
      <div class="card">
        <div class="item item-text-wrap">
          <p>
            60% of your friends are spending less than you on shopping. If you spend 10% less you could reach your goal of Buying a Rolex
            <strong>4 months earlier</strong>.
          </p>
          <p>
              <a>Click here to increase your monthly contribution by {{20 | currency : '£'}}</a>
          </p>
        </div>


      </div>
      <div class="card">

        <div class="item item-text-wrap">
          <p>
            You spend {{300 | currency :'£'}} a week on bars and restaurants. If you reduce your nights out from 5 to 2 times a week
            you could reach your goal of Croatia Summer 2017 <strong>7 months earlier</strong>.
          </p>
          <p>
            <a>Click here to increase your monthly contribution by {{180 | currency : '£'}}</a>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <p>
            You currently visit Costa coffee every weekday. Going twice a week would <strong>save you {{15 | currency : '£'}}</strong>.
          </p>
          <p>
            <a>Click here to increase your monthly contribution by {{15 | currency : '£'}}</a>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <p>
            Your investing is going really well if you adjust your goals raiseing the deposit for a home may be closer than you think.
          </p>
          <p>
            <a>Click here to learn more.</a>
          </p>
        </div>
      </div>
      <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->








      <!--<figure id="line_datalabels">


		  <chart data="#temps"
		         map-xy="year five_year_mean"
		         scale-x-linear="1882 2010"
		         scale-y-linear="-0.8 0.8">
		    <guide-y>
		      <span class="label">{{value}}&deg;</span>
		    </guide-y>
		    <guide-x></guide-x>
		    <range literal-x-extent="1966 2005"></range>
		    <line></line>
		    <points></points>
		    <repeat class="data-labels">
		      <annotation>{{five_year_mean}}&deg;</annotation>
		    </repeat>
		  </chart>

		</figure>-->

  </ion-content>

</ion-view>