<style>
    #line {
        width: 700px;
        margin: 20px 0;
        height: 300px;
        background: #eee;
    }
    
    button {
        margin: 20px 0 0 20px;
    }
    
    .red {
        color: red;
    }
    
    ​.green {
        color: green !important;
    }
    
    .white {
        color: #fff;
    }
    
    .fl {
        float: left
    }
    
    .fr {
        float: right
    }

    .pie::after{
        margin:10px auto;
    }

    .legend li{
        width:100%;
    }

    .legend span::after{
        content: ' %'
    }
</style>
<ion-view view-title="{{goal.name}}">
    <ion-content>
        <div class="list card">
            <div class="item ">
                <h2>Overview</h2>
            </div>
            <div class="item item-text-wrap">
                <h1 class="fl">{{goal.amount | currency : '£'}} </h1>
                <span class="fr" style="color:green;padding-top:10px;">
                <i class="ion-arrow-up-b"  data-pack="default" data-tags=""></i> 7%
                </span>
                <div class="clearfix"></div>
            </div>
            <div class="item item-text-wrap">
                <div>
                    <span>What you invested</span>
                    <span class="fr">{{(goal.amount / 1.2) + 50| currency : '£'}}</span>
                </div>
                <div>
                    <span>What you earned</span>
                    <span class="fr" style="color:green">{{goal.amount - ((goal.amount / 1.2) + 50)| currency : '£'}}</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap" style="background-color:#02A5C4;">
                <h2 class="white">You are on Robeco one neutral</h2>
            </div>

        </div>
        <div class="list card">
            <div class="item ">
                <h2>Performance</h2>
            </div>

            <div id="chart1"></div>​
            <!--<div id="line" linechart></div>​-->
        </div>

        <div class="list card">
            <div class="item ">
                <h2>Portfolio</h2>
            </div>
            <div id="pie-chart" style="margin:0 auto" class="pieID2 pie">

            </div>

            <ul class="pieID2 legend">
                <li>
                    <em>ETFs</em>
                    <span>30</span> 
                </li>
                <li>
                    <em>Bonds</em>
                    <span>10</span> 
                </li>
                <li>
                    <em>FX</em>
                    <span>20</span> 
                </li>
                <li>
                    <em>Securites</em>
                    <span>40</span> 
                </li>
            </ul>
        </div>
        <div class="list card list-inset">
            <div class="item">
                Your Team
            </div>
            <div class="item item-avatar" ng-repeat="member in goal.members">
                <img ng-src="{{member.imgUrl}}" /> {{member.name}}
            </div>
            <div class="item">
                <a ui-sref="app.addteam">Add team members</a>
            </div>
        </div>
    </ion-content>
</ion-view>